<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron text-center webbackground">
        <form>
            <div class="form-group">
                <label for="Title">Book Title:</label>
                <span ng-bind="individualListing.bookTitle"></span>
            </div>
            <div class="form-group">
                <label for="seller">Seller:</label>
                <span ng-bind="individualListing.user"></span>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <span ng-bind="individualListing.price"></span>
            </div>
            <div class="form-group">
                <label for="condition">Condition:</label>
                <span ng-bind="individualListing.condition"></span>
            </div>
            <button class="btn btn-default" ng-hide="individualListing.emailAvailable" ng-click="individualListing.toggleEmailAvailable()">Get Owner's Email</button>
            <div class="form-group" ng-show="individualListing.emailAvailable">
                <label for="email">Owner's Email:</label>
                <span ng-bind="individualListing.ownersEmail"></span>
            </div>
            <button class="btn btn-default" ng-show="individualListing.user === individualListing.mainAppService.currentUserName" ng-click="individualListing.deleteListing()">Delete Listing</button>
        </form>
    </div>
</div>