################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CookieNap/v15/Browse.VC.db
/.vs/CookieNap/v15/Browse.VC.opendb
/.vs/slnx.sqlite
/Server/ServerBackend/.vs/ServerBackend/v15/sqlite3/storage.ide
/Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.deps.json
/Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.dll
/Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.pdb
/Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.runtimeconfig.dev.json
/Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csproj.CoreCompileInputs.cache
/Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csproj.FileListAbsolute.txt
/Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csprojResolveAssemblyReference.cache
/Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.dll
/Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.pdb
/Server/ServerBackend/Server/obj/Server.csproj.nuget.g.props
/Server/ServerBackend/Server/obj/Server.csproj.nuget.g.targets
/Server/ServerBackend/Server/obj/project.assets.json

.vs/slnx.sqlite
Server/ServerBackend/.vs/ServerBackend/v15/sqlite3/storage.ide
Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.deps.json
Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.dll
Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.pdb
Server/ServerBackend/Server/bin/Debug/netcoreapp2.0/Server.runtimeconfig.dev.json
Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csproj.CoreCompileInputs.cache
Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csproj.FileListAbsolute.txt
Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.csprojResolveAssemblyReference.cache
Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.dll
Server/ServerBackend/Server/obj/Debug/netcoreapp2.0/Server.pdb
Server/ServerBackend/Server/obj/Server.csproj.nuget.g.props
Server/ServerBackend/Server/obj/Server.csproj.nuget.g.targets
Server/ServerBackend/Server/obj/project.assets.json
/Server/ServerBackend/.vs/ServerBackend/v15/Server/sqlite3/db.lock
/Server/ServerBackend/.vs/ServerBackend/v15/sqlite3/db.lock
