<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid"> 
        <div class="" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li ng-click="vm.setPage('home')" ng-class="vm.checkPage('home')"><a ng-href="#">Home</a></li>
                <li ng-click="vm.setPage('create')" ng-class="vm.checkPage('create')"><a ng-href="#/createListing">Create Listing</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="vm.setPage('signin')" ng-class="vm.checkPage('signin')" ng-hide="vm.loggedIn" ><a ng-href="#/signIn">Sign Up</a></li>
                <li ng-show="vm.loggedIn"><a ng-href="#/logOut">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
