<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center webbackground">
    <h1>Bienvenido</h1>
    <p class="lead">
      <img src="assets/images/cookie.png" class="image" alt="Cookies!"><br>
      Welcome to CookieNap!
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button ng-hide="main.mainAppService.currentUserName" type="button" class="btn btn-lg btn-success" ng-click="main.signIn()">Get Started</button>
      <input ng-show="main.mainAppService.currentUserName" type="search" ng-model="main.searchVal">
    </p>
    <p>
      Produced by<acme-malarkey extra-values="['Bethany', 'Josh', 'Kevin','Michael']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.allBooks | filter:main.searchVal">
      <div class="thumbnail" ng-click="main.openListing(awesomeThing)">
          <img class="pull-right" ng-src="{{ awesomeThing.bookListed.thumbnailURL }}" alt="{{ awesomeThing.title }}">
          <div class="caption">
            <h4>{{ awesomeThing.bookListed.title }}</h4>
            <div>Condition: {{ awesomeThing.condition }}</div>
            <div>Author(s): {{ awesomeThing.bookListed.authors }}</div>
            <div>ISBN: {{ awesomeThing.bookListed.isbn }}</div>
            <div>Owner's UserName: {{ awesomeThing.listingCreator.userName }}</div>
            <div>${{ awesomeThing.price }}</div>
         </div>
      </div>
    </div>
  </div>

</div>
