<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron text-center">
        <div class="form-group">
            <label for="code">Enter Confirmation Code:</label>
            <br>
            <input type="string" id="code" ng-model="resetPassword.code">
            <br>
            <label for="newPassword">Enter New Password:</label>
            <br>
            <input type="password" id="newPassword" ng-model="resetPassword.password">
            <br>
        </div>
        <button type="post" class="btn btn-success" ng-click="resetPassword.resetPassword()">Reset Password</button>
    </div>
</div>
